export(
	'bedr',
	'tabix',
	'in_region',
	'%in_region%',
	'is_merged_region',
	'is_sorted_region',
	'is_valid_region',
	'join_multiple_region',
	'join_region',
	'merge_region',
	'order_region',
	'sort_region',
	'flank_region',
	'grow_region',
	'snm',
	'strsplit2matrix',
	'subtract_region',
	'convert2bed',
	'get_random_regions',
	'get_example_regions',
	'get_chr_length',
	'get_fasta',
	'catv',
	'plot_region',
	'index2bed',
	'read_vcf',
	'reldist',
	'jaccard',
	'cluster_region',
	'.onAttach',
	'check_binary',
	'jaccard',
	'is_valid_seq',
	'is_valid_ref',
	'vcf2bed',
	'bed2vcf',
	'read_vcf',
	'read_ucsc'
	);

import('data.table', 'VennDiagram','testthat');
