export(
	'bedr',
	'tabix',
	'in.region',
	'%in.region%',
	'is.merged.region',
	'is.sorted.region',
	'is.valid.region',
	'bedr.join.multiple.region',
	'bedr.join.region',
	'bedr.merge.region',
	'order.region',
	'bedr.sort.region',
	'flank.region',
	'grow.region',
	'snm',
	'strsplit2matrix',
	'bedr.subtract.region',
	'convert2bed',
	'get.random.regions',
	'get.example.regions',
	'get.chr.length',
	'get.fasta',
	'catv',
	'bedr.plot.region',
	'index2bed',
	'read.vcf',
	'write.vcf',
	'reldist',
	'jaccard',
	'cluster.region',
	'.onAttach',
	'check.binary',
	'jaccard',
	'is.valid.seq',
	'is.valid.ref',
	'vcf2bed',
	'bed2vcf',
	'read.vcf',
	'query.ucsc',
	'download.datasets',
	'bedr.setup',
	'permute.region',
	'test.region.similarity',
	'process.input'
	);

import(
	'data.table',
	'VennDiagram',
	'testthat',
	'R.utils',
	'yaml',
	'parallel',
	'grid'
	);

importFrom("stats", "rlnorm", "runif", "setNames");
importFrom("utils", "download.file", "head", "modifyList",
	"read.table", "tail", "write.table");
